.profileBlock .tds{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.plansSelectList{
    display: flex;
    flex-direction: column;
    gap:5px;
    position: absolute;
    background-color: white;
    color: #718FFD;
    width: 203px;
    border-radius: 5px;
    float:inline-end;
    margin-top: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #718FFD;
    z-index: 1;
}

.addIntoPlan{
    position: relative;
}